body {
    background: #0b1c3a;
    color: white;
    text-align: center;
    font-family: Arial;
}

#loginBox, #dashboard {
    background: #1e2f50;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

input {
    padding: 8px;
    margin: 5px;
    width: 80%;
}

button {
    padding: 10px;
    margin: 5px;
}

.card {
    background: #2c3e70;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}